.not-installed {
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.installed {
    border-left-color: rgb(32, 255, 0);
    border-right-color: rgb(32, 255, 0);
    border-top-color: rgb(32, 255, 0);
    border-bottom-color: rgb(32, 255, 0);
    color: rgb(32, 255, 0);
}
